:root {
    --bg-dark: #050506;
    --side: #0f0f11;
    --accent: #00f0ff;
    --glass: rgba(255, 255, 255, 0.03);
    --border: rgba(255, 255, 255, 0.08);
}

* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Inter', sans-serif; }

body { background: var(--bg-dark); color: #fff; height: 100vh; display: flex; overflow: hidden; }

/* BARRA IZQUIERDA */
.sidebar {
    width: 300px; background: var(--side); border-right: 1px solid var(--border);
    display: flex; flex-direction: column; padding: 25px; z-index: 10;
}

h3 { font-size: 11px; color: var(--accent); text-transform: uppercase; letter-spacing: 2px; margin-bottom: 15px; }

.menu-group { margin-bottom: 30px; }

.grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; }

button {
    background: #1a1a1d; border: 1px solid var(--border); color: #fff;
    padding: 12px; border-radius: 8px; cursor: pointer; transition: 0.3s;
}

button:hover { background: var(--accent); color: #000; font-weight: bold; transform: translateY(-2px); }

input {
    width: 100%; background: #000; border: 1px solid var(--border);
    color: #fff; padding: 12px; border-radius: 8px; outline: none;
}

/* CANVAS */
#viewport { flex: 1; position: relative; background: #000; overflow: hidden; }
#canvas { width: 100%; height: 100%; position: relative; background-size: cover; background-position: center; }

/* ELEMENTOS */
.element {
    position: absolute; min-width: 50px; min-height: 50px;
    display: flex; align-items: center; justify-content: center;
    cursor: move; transition: outline 0.1s;
}

.element.selected { outline: 2px solid var(--accent); }

.element.text { padding: 10px; font-weight: 700; white-space: nowrap; }

.element.panel {
    background: var(--glass); backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.1); border-radius: 20px;
}

/* RESIZER (El punto para agrandar) */
.resizer {
    width: 15px; height: 15px; background: var(--accent);
    position: absolute; right: -7px; bottom: -7px;
    cursor: nwse-resize; border-radius: 4px; display: none;
}
.element.selected .resizer { display: block; }

.export-zone { margin-top: auto; background: #000; padding: 15px; border-radius: 10px; font-size: 10px; color: #444; }
